body {
    padding: 0;
    margin: 0;
}

#page {
    display: flex;
}

#page aside {
    width: 30%;
    background-color: #7451eb;
    color: #ffffff;
}

#page aside img {
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#page aside h3 {
    background-color: white;
    color: #7451eb;
    text-align: center;
    padding: 5px;
}

#page p.content {
    margin-left: 10%;
    font-size: 1.2em;
}

#page main {
    width: 70%;
}

a {
    color: white;
}